<section class="logo">
  <img src="assets/logo.svg" alt="">
</section>
<section class="main">
  <div class="block">
    <div class="block-title">Logic for you </div>
    <div class="block-content">Легкий контакт поставщиков с покупателями</div>
    <div class="block-image"><img src="assets/undraw_deliveries_131a.svg" alt=""></div>
    <div class="block-button">
      <button class="btn">Начать</button>
    </div>
  </div>
</section>
<section class="advantages">
  <span>Преимущества сервиса</span>
  <div class="cells">
    <div class="cell">
      <div class="block-title">Очень</div>
      <div class="block-image"><img src="assets/undraw_collecting_fjjl.svg" alt=""></div>
      <div class="block-content">
        Полная информация  о поставщиках и покупателях  в вашем регионе обеспечивает надежность
      </div>
    </div>
    <div class="cell">
      <div class="block-title">Супер</div>
      <div class="block-image"><img src="assets/undraw_hire_te5y.svg" alt=""></div>
      <div class="block-content">
        Поисковая система по товарам и адресам дает возможность быстро найти партнера
      </div>
    </div>
    <div class="cell">
      <div class="block-title">Точно</div>
      <div class="block-image"><img src="assets/undraw_around_the_world_v9nu.svg" alt=""></div>
      <div class="block-content">
        Сервис строит самый короткий маршрут транспортировки грузов позволяющий, выбрать оптимальный путь
      </div>
    </div>
  </div>
</section>
<section class="active">
  <div class="block">
    <div class="block-title">Logic for you</div>
    <div class="block-content">Настало время</div>
    <div class="block-image"><img src="assets/undraw_interview_rmcf.svg" alt="" class="s"></div>
    <div class="block-button">
      <button class="btn">Найти поставщика</button>
      <button class="btn">Найти покупателя</button>
    </div>
  </div>
</section>
<section class="footer">
  <span>Made with ♥ by Future</span>
</section>
<router-outlet></router-outlet>
