// Default classes

.block-image { grid-area: block-image; }
.block-title { grid-area: block-title; }
.block-content { grid-area: block-content; }
.block-button { grid-area: block-button; }

img{
    width: 100%;
}

$purple: #6C63FF;

// Sections
.logo {
    display: flex;
    justify-content: center;

    $delta : 40px;
    img{
        margin-top: $delta;
        margin-bottom: $delta;
    }
}

.main{
    padding-left: 140px;
    padding-right: 140px;
    > .block {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "block-image block-title" "block-image block-content" "block-image block-button";
        
        .block-title{
            font-family: SF UI Display;
            font-size: 24px;
            line-height: 29px;
            color: $purple;
        }

        .block-content{
            font-family: SF UI Display;
            font-size: 36px;
            line-height: 43px;
        }
    }
}

.advantages{
    span{
        font-family: SF UI Display;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
    }
}

.active{
    font-family: SF UI Display;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: $purple;
}

.footer{
    font-family: SF UI Text;
    font-size: 18px;
    line-height: 21px;
}